body{
    background-color: #b1e8f9;
}

 ::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
    }

.App{
    width: 80vw;
    height : 100vh;
    margin-left: 10vw;
    display: grid;
    grid-template-rows: 20vh, 80vh;
    text-align: center;

    .header{
        font-size:2em;
    }
}

.Pics{
    display : flex;
    flex-direction: row;
    flex-wrap : wrap;
    max-height : 80vh;
    overflow :auto;

    .Photo{
        max-width : 30vw;
        max-height : 50vh;
        margin : 4vw;
        border-radius : 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
